* {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
    padding: 0 18px;
}

header {
    background-color: lightblue;
    height: 9em;
}

header div {
    display: flex;
    justify-content: center;
    max-height: 9em;
    width: 3vw;
}

#title {
    font-size: 5em;
    align-self: center;
}

nav,
footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

nav {
    height: 3em;
    background-color: lightgreen;
}

main div {
    display: flex;
    flex-flow: column wrap;
    background-color: lightgray;
    text-align: center;
    padding-bottom: 2em;
}

main p {
    margin: 0 10em;
}

footer {
    background-color: lightcoral;
    height: 2em;
}

.cont {
    margin: 0 auto;
    max-width: 57%;
    /*height: 100%;*/
}

.cont img {
    display: block;
    margin: 0 auto;
}